  body{
      margin-left: 9px;
      font-size: 90px;
      background-color: #ff3400;
      box-sizing: border-box;
    }
    input{
      width: 75%;
      height: 85px;
      text-align: center;
      margin-left: 100px;
      margin-right: 10px;
      font-size: 50px;
      border-width: 9px;
      border-color: blue;
      border-radius: 17px;
      padding: 9px;
    }
    #app{
      text-align: center
    }
    .X{
      color: white;
    }
    button{
      width: 45%;
      height: 120px;
      margin-left: 240px;
      font-size: 70px;
      border-width: 12px;
      border-color: blue;
      font-weight: bold;
      padding-left: 2px;
      border-radius: 55px;
      font-weight: bold;
    }
    h3{
      margin-left: 5px;
      margin-right: 0px;
      width: 100%;
      height: 150px;
      border-radius: 69px;
      text-align: center;
    }